
.handDealer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: 25%;             /*44.6*/
    margin-right: 25%;
    float: left;
}

.stack
{
    height: 100%;
    width: 10%;
    position: absolute;
    margin-left: 80%;
    float: left;
}

.upperField
{
    position: absolute;
    height: 30%;
    width: 99%;
    margin:auto;

}

.handPlayer
{
    height: 100%;
    width: 10%;
    border-style:solid;
    border-color: #000000;
    margin-left: 8%;
    float: left;
}

.playerField
{
    position: absolute;
    top: 50%;
        height: 30%;
        width: 99%;

}

.buttonField
{
    position: absolute;
    top: 90%;
        height: 10%;
        width: 99%;

}

.buttons
{
    margin-left: 20%;
    margin-right: 2.75%;
    font-size: 150%;
}

.joinButtons
{
    font-size: 100%;
    position: relative;
    top: 90%;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.tooltip .tooltiptext
{
    width: 150%;
}

.formatDealer
{
    width: 16.5%;
    float: left;
    margin-left: 1%;
}

.countdown
{
    top: 1%;
    position: absolute;
    color: red;
}



